.x-radio .form-check {
  padding-left: 0;
  margin: 0 0.5rem;
}

.x-radio .form-check-input {
  float: none;
  margin-left: 0;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  cursor: pointer;
}

.btn:disabled{
  opacity: .25;
}

/* 大小 */
.x-radio .form-check:nth-of-type(1) input[type="radio"] {
  font-size: 36px;
}

.x-radio .form-check:nth-of-type(7) input[type="radio"] {
  font-size: 36px;
}

.x-radio .form-check:nth-of-type(2) input[type="radio"] {
  font-size: 28px;
}

.x-radio .form-check:nth-of-type(6) input[type="radio"] {
  font-size: 28px;
}

.x-radio .form-check:nth-of-type(3) input[type="radio"] {
  font-size: 24px;
}

.x-radio .form-check:nth-of-type(5) input[type="radio"] {
  font-size: 24px;
}

.x-radio .form-check:nth-of-type(4) input[type="radio"] {
  font-size: 20px;
}

/* 顏色 */
.x-radio .form-check:nth-of-type(1) .form-check-input:checked {
  background-color: rgb(255, 193, 7);
  border-color: rgb(255, 193, 7);
}

.x-radio .form-check:nth-of-type(1) .form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(244, 180, 0, 0.25);
}

.x-radio .form-check:nth-of-type(2) .form-check-input:checked {
  background-color: rgb(255, 193, 7);
  border-color: rgb(255, 193, 7);
}

.x-radio .form-check:nth-of-type(2) .form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(244, 180, 0, 0.25);
}

.x-radio .form-check:nth-of-type(3) .form-check-input:checked {
  background-color: rgb(255, 193, 7);
  border-color: rgb(255, 193, 7);
}

.x-radio .form-check:nth-of-type(3) .form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.25);
}

.x-radio .form-check:nth-of-type(4) .form-check-input:checked {
  background-color: rgb(108, 117, 125);
  border-color: rgb(108, 117, 125);
}

.x-radio .form-check:nth-of-type(4) .form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.25);
}
